<!-- your html code here -->
<!--<p>Hello, I'm the first_heading.html</p>-->

<div class="row featurette" style="background-color: white; padding: 2rem 0;">
    <div class="col-md-7">
        <h2 class="featurette-heading d-inline-block me-2">This First Heading</h2>
        <h5 class="d-inline-block fs-3 text-secondary">Will Catch Your Eye</h5>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
        <img src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="imagen walter white" style="width: 250px; height: 250px;">
    </div>
</div>

