<div class="row featurette" style="background-color: white; padding: 2rem 0;"> 
<div class="col-1"></div>
    <div class="col-md-7">
        <h2 class="featurette-heading d-inline-block me-2">This First Heading</h2>
        <h2 class="d-inline-block fs-3 text-muted">Will Catch Your Eye</h2>
        <p class="lead lh-sm">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="imagen walter white" style="width: 250px; height: 250px;">
    </div>
</div>


