<!-- your html code here -->
<section class="container my-5">
    <h1 class="text-tard">Portafolio</h1>
    <p class="h6-fw-normal">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
        felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
        cursus commodo.</p>

    <div class="row">
        <!-- Proyecto 1 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="Project Image">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <!-- Proyecto 2 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="Project Image">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <!-- Proyecto 3 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="Project Image">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</section>