 <!-- your html code here -->
<div class="row my-0" style="background-color: white;">
    <hr>
    
    <div class="col-4 my-5 pe-0" >
      
        <img src="/website/assets/img/2.jpg" alt="" class="rounded-circle d-flex mx-auto" style="width: 230px; height: 230px; float:right;">
    </div>
    <div class="col-7 my-5 ps-0">
        <div>
            <h5 class="d-inline fs-3">The Second Heading </h5>
            <h5 class="  d-inline fs-3 text-secondary"> Is Pretty Cool Too.</h5>
            <p style="font-size: smaller; " class="pt-1"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nam modi nostrum fugit accusantium explicabo officiis quo harum, laudantium cum saepe, placeat quam consequuntur quaerat quasi quod maxime dolorem id.
            </p>
        </div>
    </div>
 <div class="col"></div>
</div>